openapi: 3.0.1
info:
  contact:
    email: support@immutable.com
    name: Immutable API Support
  title: Immutable X API
  version: "3.0"
servers:
- url: https://api.sandbox.x.immutable.com/
paths:
  /v1/assets:
    get:
      description: Get a list of assets
      operationId: listAssets
      parameters:
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Property to sort by
        in: query
        name: order_by
        schema:
          enum:
          - updated_at
          - name
          type: string
      - description: Direction to sort (asc/desc)
        in: query
        name: direction
        schema:
          type: string
      - description: Ethereum address of the user who owns these assets
        in: query
        name: user
        schema:
          type: string
      - description: Status of these assets
        in: query
        name: status
        schema:
          enum:
          - eth
          - imx
          - preparing_withdrawal
          - withdrawable
          - burned
          type: string
      - description: Name of the asset to search
        in: query
        name: name
        schema:
          type: string
      - description: "URL JSON-encoded metadata filters for these assets. Javascript\
          \ example: encodeURI(JSON.stringify({'proto':['1147'],'quality':['Meteorite']}))"
        in: query
        name: metadata
        schema:
          type: string
      - description: Set flag to true to fetch an array of sell order details with
          accepted status associated with the asset
        in: query
        name: sell_orders
        schema:
          type: boolean
      - description: Set flag to true to fetch an array of buy order details  with
          accepted status associated with the asset
        in: query
        name: buy_orders
        schema:
          type: boolean
      - description: Set flag to include fees associated with the asset
        in: query
        name: include_fees
        schema:
          type: boolean
      - description: Collection contract address
        in: query
        name: collection
        schema:
          type: string
      - description: "Minimum timestamp for when these assets were last updated, in\
          \ ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'"
        in: query
        name: updated_min_timestamp
        schema:
          type: string
      - description: "Maximum timestamp for when these assets were last updated, in\
          \ ISO 8601 UTC format. Example: '2022-05-27T00:10:22Z'"
        in: query
        name: updated_max_timestamp
        schema:
          type: string
      - description: Comma separated string of fee percentages that are to be paired
          with auxiliary_fee_recipients
        in: query
        name: auxiliary_fee_percentages
        schema:
          type: string
      - description: Comma separated string of fee recipients that are to be paired
          with auxiliary_fee_percentages
        in: query
        name: auxiliary_fee_recipients
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssetsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get a list of assets
      tags:
      - assets
  /v1/assets/{token_address}/{token_id}:
    get:
      description: Get details of an asset
      operationId: getAsset
      parameters:
      - description: Address of the ERC721 contract
        in: path
        name: token_address
        required: true
        schema:
          type: string
      - description: Either ERC721 token ID or internal IMX ID
        in: path
        name: token_id
        required: true
        schema:
          type: string
      - description: Set flag to include fees associated with the asset
        in: query
        name: include_fees
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get details of an asset
      tags:
      - assets
  /v1/collections:
    get:
      description: Get a list of collections
      operationId: listCollections
      parameters:
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Property to sort by
        in: query
        name: order_by
        schema:
          enum:
          - name
          - address
          - project_id
          - created_at
          - updated_at
          type: string
      - description: Direction to sort (asc/desc)
        in: query
        name: direction
        schema:
          type: string
      - description: "List of collections not to be included, separated by commas"
        in: query
        name: blacklist
        schema:
          type: string
      - description: "List of collections to be included, separated by commas"
        in: query
        name: whitelist
        schema:
          type: string
      - description: Keyword to search in collection name and description
        in: query
        name: keyword
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollectionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get a list of collections
      tags:
      - collections
    post:
      description: Create collection
      operationId: createCollection
      parameters:
      - description: String created by signing wallet address and timestamp. See https://docs.x.immutable.com/docs/generate-imx-signature
        in: header
        name: IMX-Signature
        required: true
        schema:
          type: string
      - description: Unix Epoc timestamp
        in: header
        name: IMX-Timestamp
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCollectionRequest'
        description: create a collection
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
          description: Created
          headers:
            Collection_Limit_Reset:
              description: The expiry date of the current four-week window.
              schema:
                type: string
            Collection_Limit:
              description: The collection limit available to the project for each
                four-week window.
              schema:
                type: string
            Collection_Remaining:
              description: The amount of collections remaining for current four-week
                window.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Create collection
      tags:
      - collections
      x-codegen-request-body-name: CreateCollectionRequest
  /v1/collections/{address}:
    get:
      description: Get details of a collection at the given address
      operationId: getCollection
      parameters:
      - description: Collection contract address
        in: path
        name: address
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Not Found
      summary: Get details of a collection at the given address
      tags:
      - collections
    patch:
      description: Update collection
      operationId: updateCollection
      parameters:
      - description: Collection contract address
        in: path
        name: address
        required: true
        schema:
          type: string
      - description: String created by signing wallet address and timestamp
        in: header
        name: IMX-Signature
        required: true
        schema:
          type: string
      - description: Unix Epoc timestamp
        in: header
        name: IMX-Timestamp
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCollectionRequest'
        description: update a collection
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Update collection
      tags:
      - collections
      x-codegen-request-body-name: UpdateCollectionRequest
  /v1/collections/{address}/filters:
    get:
      description: Get a list of collection filters
      operationId: listCollectionFilters
      parameters:
      - description: Collection contract address
        in: path
        name: address
        required: true
        schema:
          type: string
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Next page token
        in: query
        name: next_page_token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionFilter'
          description: OK
      summary: Get a list of collection filters
      tags:
      - collections
  /v1/collections/{address}/metadata-schema:
    get:
      description: Get collection metadata schema
      operationId: getMetadataSchema
      parameters:
      - description: Collection contract address
        in: path
        name: address
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MetadataSchemaProperty'
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get collection metadata schema
      tags:
      - metadata
    post:
      description: Add metadata schema to collection
      operationId: addMetadataSchemaToCollection
      parameters:
      - description: Collection contract address
        in: path
        name: address
        required: true
        schema:
          type: string
      - description: String created by signing wallet address and timestamp
        in: header
        name: IMX-Signature
        required: true
        schema:
          type: string
      - description: Unix Epoc timestamp
        in: header
        name: IMX-Timestamp
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMetadataSchemaToCollectionRequest'
        description: add metadata schema to a collection
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Add metadata schema to collection
      tags:
      - metadata
      x-codegen-request-body-name: AddMetadataSchemaToCollectionRequest
  /v1/collections/{address}/metadata-schema/{name}:
    patch:
      description: Update metadata schema by name
      operationId: updateMetadataSchemaByName
      parameters:
      - description: Collection contract address
        in: path
        name: address
        required: true
        schema:
          type: string
      - description: Metadata schema name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: String created by signing wallet address and timestamp
        in: header
        name: IMX-Signature
        required: true
        schema:
          type: string
      - description: Unix Epoc timestamp
        in: header
        name: IMX-Timestamp
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataSchemaRequest'
        description: update metadata schema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Not Found
      summary: Update metadata schema by name
      tags:
      - metadata
      x-codegen-request-body-name: MetadataSchemaRequest
  /v1/deposits:
    get:
      description: Get a list of deposits
      operationId: listDeposits
      parameters:
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Property to sort by
        in: query
        name: order_by
        schema:
          type: string
      - description: Direction to sort (asc/desc)
        in: query
        name: direction
        schema:
          type: string
      - description: Ethereum address of the user who submitted this deposit
        in: query
        name: user
        schema:
          type: string
      - description: Status of this deposit
        in: query
        name: status
        schema:
          type: string
      - description: "Minimum timestamp for this deposit, in ISO 8601 UTC format.\
          \ Example: '2022-05-27T00:10:22Z'"
        in: query
        name: updated_min_timestamp
        schema:
          type: string
      - description: "Maximum timestamp for this deposit, in ISO 8601 UTC format.\
          \ Example: '2022-05-27T00:10:22Z'"
        in: query
        name: updated_max_timestamp
        schema:
          type: string
      - description: Token type of the deposited asset
        in: query
        name: token_type
        schema:
          type: string
      - description: ERC721 Token ID of the minted asset
        in: query
        name: token_id
        schema:
          type: string
      - description: Internal IMX ID of the minted asset
        in: query
        name: asset_id
        schema:
          type: string
      - description: Token address of the deposited asset
        in: query
        name: token_address
        schema:
          type: string
      - description: Token name of the deposited asset
        in: query
        name: token_name
        schema:
          type: string
      - description: Min quantity for the deposited asset
        in: query
        name: min_quantity
        schema:
          type: string
      - description: Max quantity for the deposited asset
        in: query
        name: max_quantity
        schema:
          type: string
      - description: JSON-encoded metadata filters for the deposited asset
        in: query
        name: metadata
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDepositsResponse'
          description: OK
      summary: Get a list of deposits
      tags:
      - deposits
  /v1/deposits/{id}:
    get:
      description: Get details of a deposit with the given ID
      operationId: getDeposit
      parameters:
      - description: Deposit ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deposit'
          description: OK
      summary: Get details of a deposit with the given ID
      tags:
      - deposits
  /v1/encode/{assetType}:
    post:
      description: Retrieves the Starkex Encoded format for a given asset so that
        it can be used as parameter for Starkex smart contracts
      operationId: encodeAsset
      parameters:
      - description: Asset type to be encoded. (asset/mintable-asset)
        in: path
        name: assetType
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncodeAssetRequest'
        description: Encode Asset
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncodeAssetResponse'
          description: OK
      summary: Retrieves the Starkex Encoded format for a given asset
      tags:
      - encoding
      x-codegen-request-body-name: EncodeAssetRequest
  /v1/metadata-refreshes:
    get:
      description: Get a list of metadata refreshes
      operationId: Get a list of metadata refreshes
      parameters:
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Collection address
        in: query
        name: collection_address
        schema:
          type: string
      - description: String created by signing wallet address and timestamp. See https://docs.x.immutable.com/docs/generate-imx-signature
        in: header
        name: x-imx-eth-signature
        required: true
        schema:
          type: string
      - description: Unix Epoc timestamp
        in: header
        name: x-imx-eth-timestamp
        required: true
        schema:
          type: string
      - description: Wallet Address that signed the signature
        in: header
        name: x-imx-eth-address
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMetadataRefreshes'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      tags:
      - metadata-refreshes
    post:
      description: Request metadata refresh for provided tokens
      operationId: Request a metadata refresh
      parameters:
      - description: String created by signing wallet address and timestamp. See https://docs.x.immutable.com/docs/generate-imx-signature
        in: header
        name: x-imx-eth-signature
        required: true
        schema:
          type: string
      - description: Unix Epoc timestamp
        in: header
        name: x-imx-eth-timestamp
        required: true
        schema:
          type: string
      - description: Wallet Address that signed the signature
        in: header
        name: x-imx-eth-address
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMetadataRefreshRequest'
        description: Create metadata refresh request
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMetadataRefreshResponse'
          description: Accepted
          headers:
            x-imx-refresh-limit-reset:
              description: The expiry date of the current one-hour window.
              schema:
                type: string
            x-imx-remaining-refreshes:
              description: The amount of refresh requests remaining for current one-hour
                window.
              schema:
                type: string
            x-imx-refreshes-limit:
              description: The refresh request limit available to the project for
                each one-hour window.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too Many Requests
          headers:
            x-imx-refresh-limit-reset:
              description: The expiry date of the current one-hour window.
              schema:
                type: string
            x-imx-remaining-refreshes:
              description: The amount of refresh requests remaining for current one-hour
                window.
              schema:
                type: string
            x-imx-refreshes-limit:
              description: The refresh request limit available to the project for
                each one-hour window.
              schema:
                type: string
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      tags:
      - metadata-refreshes
      x-codegen-request-body-name: CreateMetadataRefreshRequest
  /v1/metadata-refreshes/{refresh_id}:
    get:
      description: Get metadata refresh results
      operationId: Get metadata refresh results
      parameters:
      - description: The metadata refresh ID
        in: path
        name: refresh_id
        required: true
        schema:
          type: string
      - description: String created by signing wallet address and timestamp. See https://docs.x.immutable.com/docs/generate-imx-signature
        in: header
        name: x-imx-eth-signature
        required: true
        schema:
          type: string
      - description: Unix Epoc timestamp
        in: header
        name: x-imx-eth-timestamp
        required: true
        schema:
          type: string
      - description: Wallet Address that signed the signature
        in: header
        name: x-imx-eth-address
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMetadataRefreshResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      tags:
      - metadata-refreshes
  /v1/metadata-refreshes/{refresh_id}/errors:
    get:
      description: Get metadata refresh errors
      operationId: Get metadata refresh errors
      parameters:
      - description: The metadata refresh ID
        in: path
        name: refresh_id
        required: true
        schema:
          type: string
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: String created by signing wallet address and timestamp. See https://docs.x.immutable.com/docs/generate-imx-signature
        in: header
        name: x-imx-eth-signature
        required: true
        schema:
          type: string
      - description: Unix Epoc timestamp
        in: header
        name: x-imx-eth-timestamp
        required: true
        schema:
          type: string
      - description: Wallet Address that signed the signature
        in: header
        name: x-imx-eth-address
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMetadataRefreshErrorsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      tags:
      - metadata-refreshes
  /v1/mintable-token/{token_address}/{token_id}:
    get:
      description: Get details of a mintable token with the given token address and
        token ID
      operationId: getMintableTokenDetailsByClientTokenId
      parameters:
      - description: Address of the ERC721 contract
        in: path
        name: token_address
        required: true
        schema:
          type: string
      - description: ERC721 token ID
        in: path
        name: token_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MintableTokenDetails'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get details of a mintable token with the given token address and token
        ID
      tags:
      - mints
  /v1/mints:
    get:
      description: "Get information about token mints. If you want to get information\
        \ about tokens that have already been minted, use the listAssets endpoint."
      operationId: listMints
      parameters:
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Property to sort by
        in: query
        name: order_by
        schema:
          enum:
          - transaction_id
          - token_id
          - created_at
          - updated_at
          type: string
      - description: Direction to sort (asc/desc)
        in: query
        name: direction
        schema:
          type: string
      - description: Ethereum address of the user who submitted this mint
        in: query
        name: user
        schema:
          type: string
      - description: Status of this mint
        in: query
        name: status
        schema:
          type: string
      - description: "Minimum timestamp for this mint, in ISO 8601 UTC format. Example:\
          \ '2022-05-27T00:10:22Z'"
        in: query
        name: min_timestamp
        schema:
          type: string
      - description: "Maximum timestamp for this mint, in ISO 8601 UTC format. Example:\
          \ '2022-05-27T00:10:22Z'"
        in: query
        name: max_timestamp
        schema:
          type: string
      - description: Token type of the minted asset
        in: query
        name: token_type
        schema:
          type: string
      - description: ERC721 Token ID of the minted asset
        in: query
        name: token_id
        schema:
          type: string
      - description: "[DEPRECATED] Internal IMX ID of the minted asset"
        in: query
        name: asset_id
        schema:
          type: string
      - description: Token Name of the minted asset
        in: query
        name: token_name
        schema:
          type: string
      - description: Token address of the minted asset
        in: query
        name: token_address
        schema:
          type: string
      - description: Min quantity for the minted asset
        in: query
        name: min_quantity
        schema:
          type: string
      - description: Max quantity for the minted asset
        in: query
        name: max_quantity
        schema:
          type: string
      - description: JSON-encoded metadata filters for the minted asset
        in: query
        name: metadata
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMintsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get a list of mints
      tags:
      - mints
  /v1/mints/{id}:
    get:
      description: Get details of a mint with the given ID
      operationId: getMint
      parameters:
      - description: Mint ID. This is the transaction_id returned from listMints
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mint'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get details of a mint with the given ID
      tags:
      - mints
  /v1/orders:
    get:
      description: Get a list of orders
      operationId: listOrders
      parameters:
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Property to sort by
        in: query
        name: order_by
        schema:
          enum:
          - created_at
          - expired_at
          - sell_quantity
          - buy_quantity
          - buy_quantity_with_fees
          - updated_at
          type: string
      - description: Direction to sort (asc/desc)
        in: query
        name: direction
        schema:
          type: string
      - description: Ethereum address of the user who submitted this order
        in: query
        name: user
        schema:
          type: string
      - description: Status of this order
        in: query
        name: status
        schema:
          enum:
          - active
          - filled
          - cancelled
          - expired
          - inactive
          type: string
      - description: "Minimum created at timestamp for this order, in ISO 8601 UTC\
          \ format. Example: '2022-05-27T00:10:22Z'"
        in: query
        name: min_timestamp
        schema:
          type: string
      - description: "Maximum created at timestamp for this order, in ISO 8601 UTC\
          \ format. Example: '2022-05-27T00:10:22Z'"
        in: query
        name: max_timestamp
        schema:
          type: string
      - description: "Minimum updated at timestamp for this order, in ISO 8601 UTC\
          \ format. Example: '2022-05-27T00:10:22Z'"
        in: query
        name: updated_min_timestamp
        schema:
          type: string
      - description: "Maximum updated at timestamp for this order, in ISO 8601 UTC\
          \ format. Example: '2022-05-27T00:10:22Z'"
        in: query
        name: updated_max_timestamp
        schema:
          type: string
      - description: Token type of the asset this order buys
        in: query
        name: buy_token_type
        schema:
          type: string
      - description: ERC721 Token ID of the asset this order buys
        in: query
        name: buy_token_id
        schema:
          type: string
      - description: Internal IMX ID of the asset this order buys
        in: query
        name: buy_asset_id
        schema:
          type: string
      - description: Token address of the asset this order buys
        in: query
        name: buy_token_address
        schema:
          type: string
      - description: Token name of the asset this order buys
        in: query
        name: buy_token_name
        schema:
          type: string
      - description: Min quantity for the asset this order buys
        in: query
        name: buy_min_quantity
        schema:
          type: string
      - description: Max quantity for the asset this order buys
        in: query
        name: buy_max_quantity
        schema:
          type: string
      - description: JSON-encoded metadata filters for the asset this order buys
        in: query
        name: buy_metadata
        schema:
          type: string
      - description: Token type of the asset this order sells
        in: query
        name: sell_token_type
        schema:
          type: string
      - description: ERC721 Token ID of the asset this order sells
        in: query
        name: sell_token_id
        schema:
          type: string
      - description: Internal IMX ID of the asset this order sells
        in: query
        name: sell_asset_id
        schema:
          type: string
      - description: Token address of the asset this order sells
        in: query
        name: sell_token_address
        schema:
          type: string
      - description: Token name of the asset this order sells
        in: query
        name: sell_token_name
        schema:
          type: string
      - description: Min quantity for the asset this order sells
        in: query
        name: sell_min_quantity
        schema:
          type: string
      - description: Max quantity for the asset this order sells
        in: query
        name: sell_max_quantity
        schema:
          type: string
      - description: JSON-encoded metadata filters for the asset this order sells
        in: query
        name: sell_metadata
        schema:
          type: string
      - description: Comma separated string of fee percentages that are to be paired
          with auxiliary_fee_recipients
        in: query
        name: auxiliary_fee_percentages
        schema:
          type: string
      - description: Comma separated string of fee recipients that are to be paired
          with auxiliary_fee_percentages
        in: query
        name: auxiliary_fee_recipients
        schema:
          type: string
      - description: Set flag to true to include fee object for orders
        in: query
        name: include_fees
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrdersResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get a list of orders
      tags:
      - orders
    post:
      description: Create an order
      operationId: createOrder
      parameters:
      - description: eth address
        in: header
        name: x-imx-eth-address
        required: true
        schema:
          type: string
      - description: eth signature
        in: header
        name: x-imx-eth-signature
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
        description: create an order
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Create an order
      tags:
      - orders
      x-codegen-request-body-name: CreateOrderRequest
  /v1/orders/{id}:
    delete:
      description: Cancel an order
      operationId: cancelOrder
      parameters:
      - description: eth address
        in: header
        name: x-imx-eth-address
        required: true
        schema:
          type: string
      - description: eth signature
        in: header
        name: x-imx-eth-signature
        required: true
        schema:
          type: string
      - description: Order ID to cancel
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
        description: cancel an order
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
          description: OK
      summary: Cancel an order
      tags:
      - orders
      x-codegen-request-body-name: CancelOrderRequest
    get:
      description: Get details of an order with the given ID
      operationId: getOrder
      parameters:
      - description: Order ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Set flag to true to include fee body for the order
        in: query
        name: include_fees
        schema:
          type: boolean
      - description: Comma separated string of fee percentages that are to be paired
          with auxiliary_fee_recipients
        in: query
        name: auxiliary_fee_percentages
        schema:
          type: string
      - description: Comma separated string of fee recipients that are to be paired
          with auxiliary_fee_percentages
        in: query
        name: auxiliary_fee_recipients
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get details of an order with the given ID
      tags:
      - orders
  /v1/projects:
    get:
      description: Get projects
      operationId: getProjects
      parameters:
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Property to sort by
        in: query
        name: order_by
        schema:
          type: string
      - description: Direction to sort (asc/desc)
        in: query
        name: direction
        schema:
          type: string
      - description: String created by signing wallet address and timestamp
        in: header
        name: IMX-Signature
        required: true
        schema:
          type: string
      - description: Unix Epoc timestamp
        in: header
        name: IMX-Timestamp
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjectsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get projects
      tags:
      - projects
    post:
      description: Create a project
      operationId: createProject
      parameters:
      - description: String created by signing wallet address and timestamp
        in: header
        name: IMX-Signature
        required: true
        schema:
          type: string
      - description: Unix Epoc timestamp
        in: header
        name: IMX-Timestamp
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
        description: create a project
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProjectResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Create a project
      tags:
      - projects
      x-codegen-request-body-name: CreateProjectRequest
  /v1/projects/{id}:
    get:
      description: Get a project
      operationId: getProject
      parameters:
      - description: Project ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: String created by signing wallet address and timestamp
        in: header
        name: IMX-Signature
        required: true
        schema:
          type: string
      - description: Unix Epoc timestamp
        in: header
        name: IMX-Timestamp
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get a project
      tags:
      - projects
  /v1/signable-cancel-order-details:
    post:
      description: Get details a signable cancel order
      operationId: getSignableCancelOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSignableCancelOrderRequest'
        description: get a signable cancel order
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSignableCancelOrderResponse'
          description: OK
      summary: Get details a signable cancel order
      tags:
      - orders
      x-codegen-request-body-name: GetSignableCancelOrderRequest
  /v1/signable-deposit-details:
    post:
      description: Gets details of a signable deposit
      operationId: getSignableDeposit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSignableDepositRequest'
        description: Get details of signable deposit
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSignableDepositResponse'
          description: OK
      summary: Gets details of a signable deposit
      tags:
      - deposits
      x-codegen-request-body-name: GetSignableDepositRequest
  /v1/signable-registration:
    post:
      description: Get operator signature to allow clients to register the user
      operationId: getSignableRegistration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSignableRegistrationRequest'
        description: Register User
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSignableRegistrationResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get operator signature to allow clients to register the user
      tags:
      - users
      x-codegen-request-body-name: GetSignableRegistrationRequest
  /v1/signable-registration-offchain:
    post:
      description: Get encoded details to allow clients to register the user offchain
      operationId: getSignableRegistrationOffchain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSignableRegistrationRequest'
        description: Register User Offchain
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSignableRegistrationOffchainResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get encoded details to allow clients to register the user offchain
      tags:
      - users
      x-codegen-request-body-name: GetSignableRegistrationRequest
  /v1/signable-transfer-details:
    post:
      description: Gets details of a signable transfer
      operationId: getSignableTransferV1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSignableTransferRequestV1'
        description: get details of signable transfer
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSignableTransferResponseV1'
          description: OK
      summary: Gets details of a signable transfer
      tags:
      - transfers
      x-codegen-request-body-name: GetSignableTransferRequest
  /v1/signable-withdrawal-details:
    post:
      description: Gets details of a signable withdrawal
      operationId: getSignableWithdrawal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSignableWithdrawalRequest'
        description: get details of signable withdrawal
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSignableWithdrawalResponse'
          description: OK
      summary: Gets details of a signable withdrawal
      tags:
      - withdrawals
      x-codegen-request-body-name: GetSignableWithdrawalRequest
  /v1/tokens:
    get:
      description: Get a list of tokens
      operationId: listTokens
      parameters:
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Property to sort by
        in: query
        name: order_by
        schema:
          enum:
          - contract_address
          - name
          - symbol
          type: string
      - description: Direction to sort (asc/desc)
        in: query
        name: direction
        schema:
          type: string
      - description: Contract address of the token
        in: query
        name: address
        schema:
          type: string
      - description: "Token symbols for the token, e.g. ?symbols=IMX,ETH"
        in: query
        name: symbols
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTokensResponse'
          description: OK
      summary: Get a list of tokens
      tags:
      - tokens
  /v1/tokens/{address}:
    get:
      description: Get details of a token
      operationId: getToken
      parameters:
      - description: Token Contract Address
        in: path
        name: address
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenDetails'
          description: OK
      summary: Get details of a token
      tags:
      - tokens
  /v1/trades:
    get:
      description: Get a list of trades
      operationId: listTrades
      parameters:
      - description: Party A's (buy order) token type of currency used to buy
        in: query
        name: party_a_token_type
        schema:
          type: string
      - description: Party A's (buy order) token address of currency used to buy
        in: query
        name: party_a_token_address
        schema:
          type: string
      - description: Party B's (sell order) token type of NFT sold - always ERC721
        in: query
        name: party_b_token_type
        schema:
          type: string
      - description: Party B's (sell order) collection address of NFT sold
        in: query
        name: party_b_token_address
        schema:
          type: string
      - description: Party B's (sell order) token id of NFT sold
        in: query
        name: party_b_token_id
        schema:
          type: string
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Property to sort by
        in: query
        name: order_by
        schema:
          type: string
      - description: Direction to sort (asc/desc)
        in: query
        name: direction
        schema:
          type: string
      - description: "Minimum timestamp for this trade, in ISO 8601 UTC format. Example:\
          \ '2022-05-27T00:10:22Z'"
        in: query
        name: min_timestamp
        schema:
          type: string
      - description: "Maximum timestamp for this trade, in ISO 8601 UTC format. Example:\
          \ '2022-05-27T00:10:22Z'"
        in: query
        name: max_timestamp
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTradesResponse'
          description: OK
      summary: Get a list of trades
      tags:
      - trades
    post:
      description: Create a Trade
      operationId: createTrade
      parameters:
      - description: eth address
        in: header
        name: x-imx-eth-address
        required: true
        schema:
          type: string
      - description: eth signature
        in: header
        name: x-imx-eth-signature
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTradeRequestV1'
        description: create a trade
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTradeResponse'
          description: OK
      summary: Create a Trade between two parties
      tags:
      - trades
      x-codegen-request-body-name: CreateTradeRequest
  /v1/trades/{id}:
    get:
      description: Get details of a trade with the given ID
      operationId: getTrade
      parameters:
      - description: Trade ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trade'
          description: OK
      summary: Get details of a trade with the given ID
      tags:
      - trades
  /v1/transfers:
    get:
      description: Get a list of transfers
      operationId: listTransfers
      parameters:
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Property to sort by
        in: query
        name: order_by
        schema:
          enum:
          - transaction_id
          - updated_at
          - created_at
          - sender_ether_key
          - receiver_ether_key
          type: string
      - description: Direction to sort (asc/desc)
        in: query
        name: direction
        schema:
          type: string
      - description: Ethereum address of the user who submitted this transfer
        in: query
        name: user
        schema:
          type: string
      - description: Ethereum address of the user who received this transfer
        in: query
        name: receiver
        schema:
          type: string
      - description: Status of this transfer
        in: query
        name: status
        schema:
          enum:
          - success
          - failure
          type: string
      - description: "Minimum timestamp for this transfer, in ISO 8601 UTC format.\
          \ Example: '2022-05-27T00:10:22Z'"
        in: query
        name: min_timestamp
        schema:
          type: string
      - description: "Maximum timestamp for this transfer, in ISO 8601 UTC format.\
          \ Example: '2022-05-27T00:10:22Z'"
        in: query
        name: max_timestamp
        schema:
          type: string
      - description: Token type of the transferred asset
        in: query
        name: token_type
        schema:
          type: string
      - description: ERC721 Token ID of the minted asset
        in: query
        name: token_id
        schema:
          type: string
      - description: Internal IMX ID of the minted asset
        in: query
        name: asset_id
        schema:
          type: string
      - description: Token address of the transferred asset
        in: query
        name: token_address
        schema:
          type: string
      - description: Token name of the transferred asset
        in: query
        name: token_name
        schema:
          type: string
      - description: Max quantity for the transferred asset
        in: query
        name: min_quantity
        schema:
          type: string
      - description: Max quantity for the transferred asset
        in: query
        name: max_quantity
        schema:
          type: string
      - description: JSON-encoded metadata filters for the transferred asset
        in: query
        name: metadata
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransfersResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get a list of transfers
      tags:
      - transfers
    post:
      description: Create a new transfer request
      operationId: createTransferV1
      parameters:
      - description: eth address
        in: header
        name: x-imx-eth-address
        required: true
        schema:
          type: string
      - description: eth signature
        in: header
        name: x-imx-eth-signature
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransferRequestV1'
        description: Create transfer
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTransferResponseV1'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Creates a transfer of tokens between two parties
      tags:
      - transfers
      x-codegen-request-body-name: CreateTransferRequest
  /v1/transfers/{id}:
    get:
      description: Get details of a transfer with the given ID
      operationId: getTransfer
      parameters:
      - description: Transfer ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get details of a transfer with the given ID
      tags:
      - transfers
  /v1/users:
    post:
      description: Registers a user
      operationId: registerUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUserRequest'
        description: Register User
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterUserResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Registers a user
      tags:
      - users
      x-codegen-request-body-name: RegisterUserRequest
  /v1/users/{user}:
    get:
      description: Get stark keys for a registered user
      operationId: getUsers
      parameters:
      - description: User
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersApiResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get stark keys for a registered user
      tags:
      - users
  /v1/withdrawals:
    get:
      description: Get a list of withdrawals
      operationId: listWithdrawals
      parameters:
      - description: Withdrawal has been transferred to user's Layer 1 wallet
        in: query
        name: withdrawn_to_wallet
        schema:
          type: boolean
      - description: Status of the on-chain batch confirmation for this withdrawal
        in: query
        name: rollup_status
        schema:
          type: string
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Property to sort by
        in: query
        name: order_by
        schema:
          type: string
      - description: Direction to sort (asc/desc)
        in: query
        name: direction
        schema:
          type: string
      - description: Ethereum address of the user who submitted this withdrawal
        in: query
        name: user
        schema:
          type: string
      - description: Status of this withdrawal
        in: query
        name: status
        schema:
          type: string
      - description: "Minimum timestamp for this deposit, in ISO 8601 UTC format.\
          \ Example: '2022-05-27T00:10:22Z'"
        in: query
        name: min_timestamp
        schema:
          type: string
      - description: "Maximum timestamp for this deposit, in ISO 8601 UTC format.\
          \ Example: '2022-05-27T00:10:22Z'"
        in: query
        name: max_timestamp
        schema:
          type: string
      - description: Token type of the withdrawn asset
        in: query
        name: token_type
        schema:
          type: string
      - description: ERC721 Token ID of the minted asset
        in: query
        name: token_id
        schema:
          type: string
      - description: Internal IMX ID of the minted asset
        in: query
        name: asset_id
        schema:
          type: string
      - description: Token address of the withdrawn asset
        in: query
        name: token_address
        schema:
          type: string
      - description: Token name of the withdrawn asset
        in: query
        name: token_name
        schema:
          type: string
      - description: Min quantity for the withdrawn asset
        in: query
        name: min_quantity
        schema:
          type: string
      - description: Max quantity for the withdrawn asset
        in: query
        name: max_quantity
        schema:
          type: string
      - description: JSON-encoded metadata filters for the withdrawn asset
        in: query
        name: metadata
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWithdrawalsResponse'
          description: OK
      summary: Get a list of withdrawals
      tags:
      - withdrawals
    post:
      description: Creates a withdrawal
      operationId: createWithdrawal
      parameters:
      - description: eth address
        in: header
        name: x-imx-eth-address
        required: true
        schema:
          type: string
      - description: eth signature
        in: header
        name: x-imx-eth-signature
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWithdrawalRequest'
        description: create a withdrawal
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWithdrawalResponse'
          description: OK
      summary: Creates a withdrawal of a token
      tags:
      - withdrawals
      x-codegen-request-body-name: CreateWithdrawalRequest
  /v1/withdrawals/{id}:
    get:
      description: Gets details of withdrawal with the given ID
      operationId: getWithdrawal
      parameters:
      - description: Withdrawal ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
          description: OK
      summary: Gets details of withdrawal with the given ID
      tags:
      - withdrawals
  /v2/balances/{owner}:
    get:
      description: Get a list of balances for given user
      operationId: listBalances
      parameters:
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Property to sort by
        in: query
        name: order_by
        schema:
          type: string
      - description: Direction to sort (asc/desc)
        in: query
        name: direction
        schema:
          type: string
      - description: Ethereum wallet address for user
        in: path
        name: owner
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBalancesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get a list of balances for given user
      tags:
      - balances
  /v2/balances/{owner}/{address}:
    get:
      description: Fetches the token balances of the user
      operationId: getBalance
      parameters:
      - description: Address of the owner/user
        in: path
        name: owner
        required: true
        schema:
          type: string
      - description: Token address
        in: path
        name: address
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
          description: OK
      summary: Fetches the token balances of the user
      tags:
      - balances
  /v2/exchanges/{id}/signable-transfer-details:
    post:
      description: Send a request for signable-transfer-details (offramp)
      operationId: getExchangeSignableTransfer
      parameters:
      - description: Transaction ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSignableTransferRequestV1'
        description: get details of signable transfer
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSignableTransferResponseV1'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lambdas.APIError'
          description: Bad Request
      summary: Send a request for signable-transfer-details (offramp)
      tags:
      - exchanges
      x-codegen-request-body-name: GetSignableTransferRequest
  /v2/exchanges/{id}/transfers:
    post:
      description: Accepts a transfer request and updates the transfer_status after
        processing transfer (offramp)
      operationId: createExchangeTransfer
      parameters:
      - description: Transaction ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: eth address
        in: header
        name: x-imx-eth-address
        required: true
        schema:
          type: string
      - description: eth signature
        in: header
        name: x-imx-eth-signature
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransferRequestV1'
        description: Create a transfer
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTransferResponseV1'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lambdas.APIError'
          description: Bad Request
      summary: Accepts a transfer request and updates the transfer_status after processing
        transfer (offramp)
      tags:
      - exchanges
      x-codegen-request-body-name: CreateTransferRequest
  /v2/mints:
    post:
      description: Mint tokens in a batch with fees
      operationId: mintTokens
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/MintRequest'
              type: array
        description: details of tokens to mint
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MintTokensResponse'
          description: OK
          headers:
            Mint_Limit_Reset:
              description: The expiry date of the current four-week window.
              schema:
                type: string
            Mint_Limit:
              description: The mint limit available to the project for each four-week
                window.
              schema:
                type: string
            Mint_Remaining:
              description: The amount of mints remaining for current four-week window.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Mint Tokens V2
      tags:
      - mints
      x-codegen-request-body-name: MintTokensRequestV2
  /v2/nft/primary:
    get:
      description: Returns a list of NFT primary transactions
      operationId: getNftPrimaryTransactions
      parameters:
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Property to sort by
        in: query
        name: order_by
        schema:
          enum:
          - transaction_id
          - status
          - amount
          - mint_id
          type: string
      - description: Direction to sort (asc/desc)
        in: query
        name: direction
        schema:
          type: string
      - description: Transaction id
        in: query
        name: transaction_id
        schema:
          type: string
      - description: Contract address of the asset
        in: query
        name: contract_address
        schema:
          type: string
      - description: Ethereum address of the seller
        in: query
        name: seller_wallet_address
        schema:
          type: string
      - description: Ethereum address of the user who wants to create transaction
        in: query
        name: wallet_address
        schema:
          type: string
      - description: Transaction status
        in: query
        name: status
        schema:
          type: string
      - description: Provider name
        in: query
        name: provider
        schema:
          enum:
          - moonpay
          type: string
      - description: Mint id
        in: query
        name: mint_id
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nftprimarytransaction.ListTransactionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lambdas.APIError'
          description: Bad Request
      summary: Get a list of NFT primary transactions
      tags:
      - nft-checkout-primary
    post:
      description: creates nft primary transaction
      operationId: createNftPrimary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nftprimarytransaction.CreateAPIRequest'
        description: req
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nftprimarytransaction.CreateResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lambdas.APIError'
          description: Bad Request
      summary: Create nft primary transaction
      tags:
      - nft-checkout-primary
      x-codegen-request-body-name: CreateAPIRequest
  /v2/nft/primary/currencies:
    get:
      description: Returns a list of supported currencies and their limits
      operationId: getCurrenciesNFTCheckoutPrimary
      parameters:
      - description: Provider name
        in: query
        name: provider
        schema:
          enum:
          - moonpay
          type: string
      - description: Flag if limits should be included in the response or not
        in: query
        name: include_limits
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyWithLimits'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lambdas.APIError'
          description: Bad Request
      summary: Get currencies with limits
      tags:
      - nft-checkout-primary
  /v2/nft/primary/{transaction_id}:
    get:
      description: gets nft primary transaction by transaction id
      operationId: getNftPrimaryTransaction
      parameters:
      - description: Transaction id
        in: path
        name: transaction_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nftprimarytransaction.GetResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lambdas.APIError'
          description: Bad Request
      summary: Get nft primary transaction by id
      tags:
      - nft-checkout-primary
  /v2/signable-transfer-details:
    post:
      description: Gets bulk details of a signable transfer
      operationId: getSignableTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSignableTransferRequest'
        description: get details of signable transfer
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSignableTransferResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Gets bulk details of a signable transfer
      tags:
      - transfers
      x-codegen-request-body-name: GetSignableTransferRequestV2
  /v2/transfers:
    post:
      description: Create a new transfer request
      operationId: createTransfer
      parameters:
      - description: eth address
        in: header
        name: x-imx-eth-address
        required: true
        schema:
          type: string
      - description: eth signature
        in: header
        name: x-imx-eth-signature
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransferRequest'
        description: Create transfer
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTransferResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Creates a transfer of multiple tokens between two parties
      tags:
      - transfers
      x-codegen-request-body-name: CreateTransferRequestV2
  /v2/{provider}/transaction_status:
    get:
      description: gets mint status by transaction ids
      operationId: getMintStatusById
      parameters:
      - description: Provider name
        in: path
        name: provider
        required: true
        schema:
          enum:
          - moonpay
          type: string
      - description: transaction id
        in: query
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provider.GetMintStatusResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lambdas.APIError'
          description: Bad Request
      summary: Get mint status by transaction id
      tags:
      - nft-checkout-primary
  /v3/exchanges:
    get:
      description: Returns a list of exchanges based on the request
      operationId: getExchanges
      parameters:
      - description: Page size of the result
        in: query
        name: page_size
        schema:
          type: integer
      - description: Cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Property to sort by
        in: query
        name: order_by
        schema:
          enum:
          - id
          - status
          - exchange
          - amount
          - transfer_id
          type: string
      - description: Direction to sort
        in: query
        name: direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Transaction ID
        in: query
        name: id
        schema:
          type: integer
      - description: Ethereum address of the user who created transaction
        in: query
        name: wallet_address
        schema:
          type: string
      - description: Transaction status
        in: query
        name: status
        schema:
          enum:
          - created
          - pending
          - completed
          - failed
          - waitingPayment
          - timedOut
          type: string
      - description: Provider name
        in: query
        name: provider
        schema:
          enum:
          - moonpay
          - layerswap
          type: string
      - description: Transfer ID
        in: query
        name: transfer_id
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lambdas.APIError'
          description: Bad Request
      summary: Returns a list of exchanges based on the request
      tags:
      - exchanges
    post:
      description: "Receive wallet_address, provider, type and widget information\
        \ to create a base exchange transaction and return widget URL"
      operationId: createExchange
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExchangeAndURLAPIRequest'
        description: req
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exchange.CreateExchangeAndURLResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lambdas.APIError'
          description: Bad Request
      summary: Create an exchange with URL
      tags:
      - exchanges
      x-codegen-request-body-name: CreateExchangeAPIRequest
  /v3/exchanges/{id}:
    get:
      description: Get an exchange by ID
      operationId: getExchange
      parameters:
      - description: Exchange ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exchange'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lambdas.APIError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lambdas.APIError'
          description: Not Found
      summary: Get an exchange by ID
      tags:
      - exchanges
  /v3/signable-order-details:
    post:
      description: Get a signable order request (V3)
      operationId: getSignableOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSignableOrderRequest'
        description: get a signable order
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSignableOrderResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Internal Server Error
      summary: Get a signable order request (V3)
      tags:
      - orders
      x-codegen-request-body-name: GetSignableOrderRequestV3
  /v3/signable-trade-details:
    post:
      description: Get details a signable trade V3
      operationId: getSignableTrade
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSignableTradeRequest'
        description: get a signable trade
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSignableTradeResponse'
          description: OK
      summary: Get details a signable trade V3
      tags:
      - trades
      x-codegen-request-body-name: GetSignableTradeRequest
components:
  schemas:
    APIError:
      properties:
        code:
          description: The error code
          type: string
        details:
          description: The error details
          type: string
        message:
          description: The error message
          type: string
      required:
      - code
      - message
      type: object
    AddMetadataSchemaToCollectionRequest:
      example:
        metadata:
        - filterable: true
          name: name
          type: enum
        - filterable: true
          name: name
          type: enum
        contract_address: contract_address
      properties:
        contract_address:
          description: Not required from API user
          type: string
        metadata:
          description: The metadata container
          items:
            $ref: '#/components/schemas/MetadataSchemaRequest'
          minItems: 1
          type: array
      required:
      - metadata
      type: object
    Asset:
      example:
        fees:
        - address: address
          percentage: 60.27456183070403
          type: type
        - address: address
          percentage: 60.27456183070403
          type: type
        metadata: "{}"
        image_url: image_url
        created_at: created_at
        description: description
        token_address: token_address
        collection:
          icon_url: icon_url
          name: name
        uri: uri
        token_id: token_id
        updated_at: updated_at
        name: name
        orders:
          sell_orders:
          - "{}"
          - "{}"
          buy_orders:
          - "{}"
          - "{}"
        id: id
        user: user
        status: status
      properties:
        collection:
          $ref: '#/components/schemas/CollectionDetails'
        created_at:
          description: Timestamp of when the asset was created
          nullable: true
          type: string
        description:
          description: Description of this asset
          nullable: true
          type: string
        fees:
          description: Royalties to pay on this asset operations
          items:
            $ref: '#/components/schemas/Fee'
          type: array
        id:
          description: "[DEPRECATED] Internal Immutable X Token ID"
          type: string
        image_url:
          description: URL of the image which should be used for this asset
          nullable: true
          type: string
        metadata:
          description: Metadata of this asset
          nullable: true
          properties: {}
          type: object
        name:
          description: Name of this asset
          nullable: true
          type: string
        orders:
          $ref: '#/components/schemas/OrderDetails'
        status:
          description: Status of this asset (where it is in the system)
          type: string
        token_address:
          description: Address of the ERC721 contract
          type: string
        token_id:
          description: ERC721 Token ID of this asset
          type: string
        updated_at:
          description: Timestamp of when the asset was updated
          nullable: true
          type: string
        uri:
          description: URI to access this asset externally to Immutable X
          nullable: true
          type: string
        user:
          description: Ethereum address of the user who owns this asset
          type: string
      required:
      - collection
      - created_at
      - description
      - image_url
      - metadata
      - name
      - status
      - token_address
      - token_id
      - updated_at
      - uri
      - user
      type: object
[...]
