#
# Common Config Parameters
#
#=============================================
# Etherum Network
#=============================================
ALCHEMY_API_KEY=DvukuyBzEK-JyP6zp1NVeNVYLJCrzjp_
# ropsten/mainnet etc.
ETH_NETWORK=ropsten

#=============================================
# Logger
#=============================================
DEBUG_LOGGING=true

#=============================================
# OWNER ACCOUNT PRIVATE KEY
#=============================================
OWNER_ACCOUNT_PRIVATE_KEY= # This is your ethereum wallet private key
STARK_PRIVATE_KEY= # This is your stark wallet private key.

#
# Example specific config Parameters
#
#=============================================
# Onboarding (Create Collection Parameters)
#=============================================
COLLECTION_CONTRACT_ADDRESS= # This to be obtained on deploying the smart contract using imx-contracts repo.
COLLECTION_PROJECT_ID= # This to be obtained after creating the project
